* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #0097af;
    border-radius: 100px;
    margin: 5px;
}

.nav__li {
    display: inline-block;
    padding: 9px;
    color: #ffffff;
}

.nav__li:hover {
    color: #57e1fb;
}

.nav__li:hover > a {
    color: #57e1fb;
    border: 1px solid #57e1fb;
}

.nav__li a {
    text-decoration: none;
    color: #ffffff;
}

.nav__li i {
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}


@media (max-width: 900px) {
    .nav__li {display: block;}
}